.nav {
    display: flex;
    align-items: center;
    padding: 16px 32px;
    background: var(--bg-secondary);
    border-bottom: 1px solid #333;
}

.logo {
    margin: 0 auto 0 -35px;
}

.links {
    flex: 0 1 auto;
    display: flex;
    justify-content: center;

    background: #131313;
    padding: 0 12px;
    border-radius: var(--radius);
    border: 1px solid #333;

    li {
        list-style: none;
        padding: 20px 12px;
        border-right: 1px solid #333;

        &:last-child {
            border-right: none;
        }

        a {
            padding: 8px 12px;
            transition: 0.2s ease;

            &:hover {
                color: #666666;
            }
        }
    }
}

//600 @media