.card {
    display: flex;
    align-items: center;
    background-color: var(--bg-secondary);
    border-radius: var(--radius);
    overflow: hidden;
    padding: 0;
    text-decoration: none;
    color: inherit;
    height: 120px;

    &:active {
        transform: scale(0.98);
    }

    &:hover {
        background-color: var(--card-bg);
    }

    .cardImage {
        flex-shrink: 0;
        height: 100%;
        max-width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: 8px 0 0 8px;

        span {
            display: block !important;
            width: 100% !important;
            height: 100% !important;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    .cardContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 16px;
        margin-left: 10px;
        flex: 1;

        h2 {
            margin: 0 0 8px 0;
            font-size: 1.2rem;
            font-weight: 900;
        }

        p {
            margin: 2px 0;
            font-size: 0.9rem;

            strong {
                font-weight: 800;
            }
        }
    }
}