.home {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 177px);
    background: var(--bg);
    color: var(--text);
    text-align: center;
    padding: 20px;

    .content {
        max-width: 800px;
    }

    h1 {
        font-size: 3rem;
        margin-bottom: 20px;
        color: var(--accent);
    }

    .gifWrapper {
        margin: 20px 0;
    }

    p {
        font-size: 1.2rem;
        margin-bottom: 30px;
    }
}
